#main {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 0;
    margin-top: 25px;
    margin-bottom: 25px;
    position: relative;
    z-index: -1;
    user-select: none;
    height: 39.5px;
}

#main li {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 5;
    color: black;
    cursor: pointer;
    text-align: center;
    background-color: rgba(173, 216, 230, 0.8);
    border-left: 1px solid white;
    border-right: 1px solid white;
    transition: all 0.5s;
}

#main li:first-child {
    border-left: none;
}

#main li:nth-child(5) {
    border-right: none;
}

#marker {
    height: 39.5px;
    background-color: black;
    position: relative;
    top: -39.5px;
    width: 100%;
    z-index: -1;
    transition: transform 0.35s;
}

#main li:nth-child(1):hover ~ #marker {
    transform: translate(0, 0) !important;
}

#main li:nth-child(2):hover ~ #marker {
    transform: translate(100%, 0) !important;
}

#main li:nth-child(3):hover ~ #marker {
    transform: translate(200%, 0) !important;
}

#main li:nth-child(4):hover ~ #marker {
    transform: translate(300%, 0) !important;
}

#main li:nth-child(5):hover ~ #marker {
    transform: translate(400%, 0) !important;
}
