#pop-up {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    overflow: scroll;
}

#pop-up::-webkit-scrollbar {
    display: none;
}

#job-info {
    width: max(500px, 100vw);
    height: max(551px, 100%);
    background-color: rgba(230, 230, 250, 0.8);
    backdrop-filter: blur(10px);
    display: flex;
    visibility: hidden;
}

#job-info-card {
    width: 475px;
    max-height: 526px;
    margin: auto;
    background-color: rgba(37, 99, 235, 0.4);
    backdrop-filter: blur(5px);
    border-radius: 35px;
}

#job-info-card ::selection {
    background-color: lavender;
}

#job-info-card ::-webkit-scrollbar {
    display: none;
}

#job-info-card > div {
    box-sizing: border-box;
    padding: 25px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#description {
    margin-top: 11.5px;
    overflow: scroll;
    padding-left: 5px;
    padding-right: 5px;
    max-height: 331.5px;
}

#job-info-card > div > div > div:first-of-type {
    display: flex;
}

#job-info-card > div > div > div:first-of-type > div:first-of-type {
    width: 378px;
    display: flex;
}

#job-info-card > div > div > div:first-of-type > div div {
    font-size: larger;
    margin: auto;
    margin-left: 0;
    overflow: scroll;
    max-height: 47px;
}

#job-info-card > div > div > div:first-of-type > div:last-of-type {
    display: flex;
    flex-grow: 1;
}

#job-info-card > div > div > div:first-of-type > div:last-of-type div {
    margin: auto;
    margin-right: 0;
    margin-top: 0;
    height: 23.5px;
    border-radius: 5px;
}

#job-info-card > div > div > div:first-of-type > div:last-of-type button {
    padding: 0;
    outline: none;
    border: none;
    height: 23.5px;
    background-color: rgb(37, 99, 235);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s;
}

#job-info-card > div > div > div:first-of-type > div:last-of-type button:focus {
    transform: scale(0.8);
}

#job-info-card > div > div > div:first-of-type > div:last-of-type path {
    transform: scale(1.2);
}

#job-info-card > div > div > div:last-of-type {
    display: grid;
    grid-template-columns: 0.805fr 1.195fr 1fr;
    margin-top: 11.5px;
}

#job-info-card > div > div > div:last-of-type > div {
    background-color: rgba(37, 99, 235, 0.4);
    color: white;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    user-select: none;
}

#job-info-card > div > div > div:last-of-type > div:not(:last-of-type) {
    margin-right: 10px;
}

#job-info-card > div > div > div:last-of-type > div div {
    margin: auto;
}

#job-info-card > div > div > div:last-of-type svg {
    transform: translateY(2.25px);
    margin-right: 5px;
}

#job-info-card > div > div:last-of-type {
    margin-top: 11.5px;
    border-radius: 5px;
}

#job-info-card > div > div:last-of-type button {
    background-color: rgb(37, 99, 235);
    color: white;
    border-radius: 5px;
    width: 100%;
    height: 33px;
    font-size: medium;
    border: none;
    outline: none;
    cursor: pointer;
    user-select: none;
    transition: transform 0.2s;
}

#job-info-card button:focus {
    transform: scale(90%);
}
