#job-search {
    padding: 12.5px;
    box-sizing: border-box;
}

#search-bar {
    display: flex;
    gap: 2px;
    margin: auto;
}

#search-bar > div {
    width: 10%;
}

#search-bar > div div {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    background-color: rgb(37, 99, 235);
}

#search-bar > div div:first-of-type {
    border-top-right-radius: 39.5px;
}

#search-bar > div div:last-of-type {
    border-bottom-right-radius: 39.5px;
}

#search-bar > div svg {
    transform: scale(1.5);
}

#filters {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
    margin: 0;
    user-select: none;
    border-top-left-radius: 39.5px;
    overflow: hidden;
    width: 90%;
}

#filters li {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: white;
}

#filters > li {
    background-color: rgb(37, 99, 235);
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 2px solid white;
    height: 57px;
}

#filters > li:first-child {
    border-left: none;
}

#filters > li:nth-child(3) {
    border-right: none;
}

#filters li ul div li {
    background-color: rgba(37, 99, 235, 0.4);
    color: black;
    border-top: 2px solid white;
}

#filters li ul div li:first-child {
    border: none;
}

.drop {
    overflow: scroll;
    list-style: none;
    position: absolute;
    padding: 0;
    width: 100%;
    top: 79px;
    height: 122.5px;
    cursor: pointer;
    z-index: 1;
}

.drop::-webkit-scrollbar {
    display: none;
}

.drop div {
    background-color: white;
    transform: translate(0, -100%);
    transition: transform 0.5s;
}

#filters li:first-of-type ul {
    border-bottom-left-radius: 39.5px;
}

#filters li .drop:hover div {
    transform: translate(0, 0);
}

#filters > div {
    height: 122.5px;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

#filters > div:first-of-type {
    border-left: none;
}

#filters > div:last-of-type {
    border-right: none;
}

#filters svg {
    display: flex;
    margin: auto;
    transform: translateY(calc(60px - 50%)) scale(5);
}

#jobs-container {
    display: grid;
    gap: 12.5px;
    margin: auto;
    margin-top: 12.5px;
    overflow: hidden;
}

.job-card {
    width: 231.25px;
    height: 315px;
    background-color: rgba(37, 99, 235, 0.4);
    border-radius: 39.5px;
}

.job-card > div {
    box-sizing: border-box;
    padding: 25px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.job-card > div > div:first-of-type {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.job-card > div > div:first-of-type::selection {
    background-color: lavender;
}

.job-card > div > div div:not(:last-of-type) {
    background-color: rgba(37, 99, 235, 0.4);
    color: white;
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
    display: inline-block;
    user-select: none;
}

br {
    user-select: none;
}

.job-card > div > div div:last-of-type {
    margin-top: 3px;
}

.job-card svg {
    transform: translateY(2.25px);
    margin-right: 5px;
}

.job-card button {
    background-color: rgb(37, 99, 235);
    color: white;
    margin-top: 5px;
    border-radius: 5px;
    width: 100%;
    height: 33px;
    font-size: medium;
    border: none;
    cursor: pointer;
    user-select: none;
}
